html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}

body{
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}
.container-xl{
    max-width: 1541px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}
.container-l{
    max-width: 1362px ;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}
.distance {
    margin: 80px auto;
}

@media (max-width: 1024px) {
    .container {
        padding: 0 16px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 12px;
    }
}


:root{
    --font-bold: 900;
    --font-medium: 700;
    --font-small: 400;
    --font-button: 800;
    --color-black: #121214;
    --color-dark-gray:#303030;
    --color-light-gray: #8C8F96;
    --color-hover-btn: #00BDFF;
    --color-blue: #49D0FF;
    --color-whith: #ffff;
}

/*start header*/
.header {
    min-height: 100px;
    background-color: var(--color-black);
}
.header .header__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 33px;
    padding-bottom: 32px;
}
.header .header__inner .header__menu{
    display: flex;
    color: var(--color-whith);
    column-gap: 48px;
    list-style-type: none;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
}
.header .header__inner .header__menu .menu__item{
    position: relative;
    padding-right: 20px;
}

.menu__item--has-dropdown::after {
    content: "";
    position: absolute;
    right: 5px;
    top: 30%;
    transform: translateY(-50%) rotate(45deg);
    border: solid var(--color-dark-gray);
    border-width: 0 2px 2px 0;
    padding: 4px;
    pointer-events: none;
}
 .menu__item-link{
    text-decoration: none;
}
.header .header_info {
    display: flex;
    align-items: center;
    column-gap: 6px;
}
.header .header_info .header-icons{
    display: flex;
    column-gap: 32px;
}
.header .header_info .header-blue{
    min-height: 18px;
    min-width: 18px;
    max-width: 18px;
    max-height: 18px;
    background-color: var(--color-blue);
    border-radius: 50%;
    color: var(--color-whith);
    font-weight: var(--font-medium);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .header_info span{
    font-weight: var(--font-medium);
    font-size: 13px;
    color: var(--color-light-gray);
}
/*@media (max-width: 1400px) {*/
/*    .header .header_logo .menu{*/
/*        display: none;*/
/*    }*/
/*}*/

/*end header*/
/*start main section one*/
.main .one{
    min-height: 760px;
}
.one__logo{
    height: 631px;
    width: 100%;
    margin-inline:auto;
    margin-top: 50px;
    margin-bottom: 80px;
    position: relative;
}
.one__images{
    /*background: url("images/bc7f269b07832eec670607c5ff04920b4f199ba8.jpg");*/
    object-fit: cover;
    /*background-repeat: no-repeat;*/
    transform: scaleX(-1);
    object-position: top;
    width: 100%;
    height: 100%;
    display: block;
}
.one__catalog{
    position: absolute;
    top: 15%;
    left: 10%;
    display: flex;
    flex-direction: column;
    row-gap: 19px;
}
.title{
    font-weight: var(--font-bold);
}
.one__title{
    font-size: 51px;
    color: var(--color-black);
}
.text{
    font-weight: var(--font-small);
    color: var(--color-black);
}
.one__text{
    font-size: 19px;
}
.button{
    font-weight: 800;
    font-size: 12px;
    color: var(--color-whith);
    border-radius: 5px;
    background-color: var(--color-black);
    padding: 23px 0;
    border: none;
    display: flex;
    justify-content: center;
    column-gap: 23px;
    text-transform: uppercase;
}
.button:hover{
    background-color: var(--color-hover-btn);
}
.one__button{
    width: 100%;
    max-width: 252px;
    height: 100%;
    max-height: 66px;
}





