html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}

body{
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}
.container-xl{
    max-width: 1541px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}
.container-l{
    max-width: 1362px ;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}
.distance {
    margin: 80px auto;
}

@media (max-width: 1024px) {
    .container {
        padding: 0 16px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 12px;
    }
}


:root{
    --font-bold: 900;
    --font-medium: 700;
    --font-button: 800;
    --color-black: #121214;
    --color-dark-gray:#303030;
    --color-light-gray: #8C8F96;
    --color-hover-btn: #00BDFF;
    --color-blue: #49D0FF;
    --color-whith: #ffff;
}

/*start header*/
.header {
    min-height: 100px;
    background-color: var(--color-black);
}
.header .header_logo{
    display: flex;
    justify-content: space-between;
    padding-top: 33px;
    padding-bottom: 32px;
}
.header .header_logo .menu{
    display: flex;
    color: var(--color-whith);
    column-gap: 48px;
    list-style-type: none;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
}
.header .header_logo .menu .menu__item{
    position: relative;
    padding-right: 20px;
}

.menu__item--has-dropdown::after {
    content: "";
    position: absolute;
    right: 5px;
    top: 30%;
    transform: translateY(-50%) rotate(45deg);
    border: solid var(--color-dark-gray);
    border-width: 0 2px 2px 0;
    padding: 4px;
    pointer-events: none;
}

.header .header_info {
    display: flex;
    align-items: center;
    column-gap: 6px;
}
.header .header_info .header-icons{
    display: flex;
    column-gap: 32px;
}
.header .header_info .header-blue{
    min-height: 18px;
    min-width: 18px;
    max-width: 18px;
    max-height: 18px;
    background-color: var(--color-blue);
    border-radius: 50%;
    color: var(--color-whith);
    font-weight: var(--font-medium);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .header_info span{
    font-weight: var(--font-medium);
    font-size: 13px;
    color: var(--color-light-gray);
}
/*@media (max-width: 1400px) {*/
/*    .header .header_logo .menu{*/
/*        display: none;*/
/*    }*/
/*}*/

/*end header*/
/*start main section one*/
.main .one{
    min-height: 760px;
}
.main .one .fff{
    background: url("images/bc7f269b07832eec670607c5ff04920b4f199ba8.jpg");
    height: 631px;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scaleX(-1);

}







